In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\geopt\appdata\roaming\python\python39\site-packages (4.5.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\geopt\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\geopt\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: async-generator>=1.9 in c:\users\geopt\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\geopt\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\geopt\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\geopt\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\geopt\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Python program to scrape data for “Data Analyst” Job position in “Bangalore” location

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
# from selenium.common.exception import stateElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#connect driver

driver=webdriver.Chrome(r"C:\Users\geopt\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#open naukri
driver.get("https://www.naukri.com/")

In [5]:
#enter designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
#enter location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
#submit search
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
#initialize variables
job_title=[]
job_location=[]
company_name=[]
exp_required=[]

In [9]:
#scrapping title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping location
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scrapping Company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scrapping experience required
exp_req=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_req[0:10]:
    exp=i.text
    exp_required.append(exp)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(exp_required))

10 10 10 10

In [11]:
#create dataframe
df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company':company_name, 'Experience Required':exp_required })
df

,Job Title,Job Location,Company,Experience Required
0,Compliance Data Analyst,"Bangalore/Bengaluru, Chennai",Xoom Inc,0-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,nurture.farm,3-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Truecaller,2-4 Yrs
3,Market Data Analyst,Bangalore/Bengaluru,ICF,1-4 Yrs
4,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
6,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
7,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
8,Python Data Analyst - WFH,Remote,hCapital Business Consulting Private Limited,5-10 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

# 2
Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [40]:
#connect driver

driver=webdriver.Chrome(r"C:\Users\geopt\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
#open naukri
driver.get("https://www.naukri.com/")

In [13]:
#enter designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [14]:
#enter location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [15]:
#submit search
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
#initialize variables
job_title=[]
job_location=[]
company_name=[]
exp_required=[]

In [17]:
#scrapping title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping location
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scrapping Company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scrapping experience required
exp_req=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_req[0:10]:
    exp=i.text
    exp_required.append(exp)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(exp_required))

10 10 10 10

In [19]:
#create dataframe
df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company':company_name, 'Experience Required':exp_required })
df

,Job Title,Job Location,Company,Experience Required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
4,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
5,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro,8-13 Yrs
7,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
8,Opportunity For Senior Data Scientist/ Busines...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",PayU,4-6 Yrs
9,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs

# 3
Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [66]:
#connect driver

driver=webdriver.Chrome(r"C:\Users\geopt\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
#open naukri
driver.get("https://www.naukri.com/")

In [21]:
#enter designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [22]:
#submit search
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
#location filter  
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location.click()

In [24]:
#salary filter  
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [25]:
#initialize variables
job_title=[]
job_location=[]
company_name=[]
exp_required=[]

In [27]:
#scrapping title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping location
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scrapping Company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scrapping experience required
exp_req=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_req[0:10]:
    exp=i.text
    exp_required.append(exp)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(exp_required))

10 10 10 10

In [28]:
#create dataframe
df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company':company_name, 'Experience Required':exp_required })
df

,Job Title,Job Location,Company,Experience Required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
6,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
7,Data Specialist,Noida,RCPC,4-6 Yrs
8,Data Scientist,Noida,NGI Ventures,0-5 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
10,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
11,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
12,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
13,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
14,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
15,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
16,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
17,Data Specialist,Noida,RCPC,4-6 Yrs
18,Data Scientist,Noida,NGI Ventures,0-5 Yrs
19,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs

# 4
Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding

In [35]:
#open flipkart
driver.get("https://www.flipkart.com/")

In [36]:
cls=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cls.click()

In [37]:
#enter item
item = driver.find_element(By.CLASS_NAME,"_3704LK")
item.send_keys('sunglasses')

In [38]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [54]:
#initialize variables
brand=[]
desc=[]
price=[]
offer=[]

In [55]:

first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()

#scrapping brand
start=0
end=3
inc=1
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        if inc <= 100:
            br=i.text
            brand.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

        
print(brand)
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()

#scrapping desc
start=0
end=3
inc=1
for page in range(start,end):
    desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc_tags:
        if inc <= 100:
            br=i.text
            desc.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

print(desc)
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()


#scrapping desc
start=0
end=3
inc=1
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        if inc <= 100:
            br=i.text
            price.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

print(price)
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()


#scrapping price
start=0
end=3
inc=1
for page in range(start,end):
    desc_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in desc_tags:
        if inc <= 100:
            br=i.text
            offer.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

print(offer)

['OAKLEY', 'VINCENT CHASE', 'LIZA ANGEL', 'Fastrack', 'VINCENT CHASE', 'PIRASO', 'john jacobs', 'OAKLEY', 'PIRASO', 'kingsunglasses', 'john jacobs', 'john jacobs', 'GANSTA', 'Fastrack', 'VINCENT CHASE', 'Fastrack', 'ROZZETTA CRAFT', 'OAKLEY', 'SHAAH COLLECTIONS', 'PHENOMENAL', 'john jacobs', 'OAKLEY', 'ROZZETTA CRAFT', 'ROYAL SON', 'Fastrack', 'Fastrack', 'OAKLEY', 'OAKLEY', 'PIRASO', 'ROYAL SON', 'john jacobs', 'OAKLEY', 'Fastrack', 'Fastrack', 'Fastrack', 'Fastrack', 'OAKLEY', 'VINCENT CHASE', 'ROYAL SON', 'Fastrack', 'john jacobs', 'OAKLEY', 'Fastrack', 'PIRASO', 'DEIXELS', 'SHAAH COLLECTIONS', 'SUNBEE', 'john jacobs', 'PIRASO', 'New Specs', 'john jacobs', 'ROZZETTA CRAFT', 'PIRASO', 'SHAAH COLLECTIONS', 'ROYAL SON', 'LIZA ANGEL', 'VINCENT CHASE', 'kingsunglasses', 'kingsunglasses', 'SHAAH COLLECTIONS', 'Silver Kartz', 'ROYAL SON', 'SHAAH COLLECTIONS', 'Sewell', 'Fastrack', 'ALIXERO', 'VINCENT CHASE', 'VINCENT CHASE', 'Fastrack', 'VINCENT CHASE', 'Singco India', 'ROYAL SON', 'SHAAH COLLECTIONS', 'SHAAH COLLECTIONS', 'New Specs', 'GANSTA', 'ROZZETTA CRAFT', 'ROYAL SON', 'Fastrack', 'NuVew', 'OAKLEY', 'VINCENT CHASE', 'LIZA ANGEL', 'Fastrack', 'VINCENT CHASE', 'PIRASO', 'john jacobs', 'OAKLEY', 'PIRASO', 'kingsunglasses', 'john jacobs', 'john jacobs', 'GANSTA', 'Fastrack', 'VINCENT CHASE', 'Fastrack', 'ROZZETTA CRAFT', 'OAKLEY', 'SHAAH COLLECTIONS', 'PHENOMENAL']
['UV Protection Round Sunglasses (53)', 'Retro Square Sunglass', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Round Sunglasses (54)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'Polarized, UV Protection Retro Square Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, UV Protection Rectangular Sunglasses (60)', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection, Mirrored Wayfarer Sunglasses (54)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer, Aviator Sunglasses (88)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'by Lenskart Polarized, UV Protection Rectangular Sungla...', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'UV Protection, Mirrored Wayfarer Sunglasses (54)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection, Riding Glasses Retro Square Sunglasses (...', 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...', 'Polarized, UV Protection Round Sunglasses (52)', 'UV Protection Aviator Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (52)', 'Mirrored, UV Protection, Riding Glasses, Others Round S...', 'UV Protection Retro Square Sunglasses (53)', 'Polarized, UV Protection Aviator Sunglasses (57)', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Mirrored Aviator Sunglasses (57)', 'Rectangular Sunglass', 'Polarized, UV Protection Round Sunglasses (51)', 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection Wayfarer Sunglasses (55)', 'UV Protection Aviator Sunglasses (59)', 'Rectangular Sunglass', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Rectangular Sunglasses (53)', 'Polarized, UV Protection Retro Square Sunglasses (56)', 'Gradient, UV Protection Aviator Sunglasses (57)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (62)', 'Rectangular Sunglass', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection Clubmaster Sunglasses (47)', 'HOLBROOK Wayfarer Sunglass', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Polarized, UV Protection Wayfarer Sunglasses (61)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wrap-around Sunglasses (Free Size)', 'Retro Square Sunglass', 'Pitchman R Round Sunglass', 'UV Protection Wayfarer Sunglasses (32)', 'Mirrored Aviator Sunglasses (55)', 'Polarized, UV Protection Aviator Sunglasses (53)', 'Retro Square Sunglass', 'Polarized Retro Square Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'Shield Sunglass', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'Retro Square Sunglass', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Round Sunglasses (54)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'Polarized, UV Protection Retro Square Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection, Mirrored Wayfarer Sunglasses (54)', 'Polarized, UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer, Aviator Sunglasses (88)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)']
['₹12,409', '₹999', '₹189', '₹869', '₹799', '₹237', '₹1,999', '₹10,159', '₹237', '₹269', '₹1,999', '₹1,999', '₹272', '₹679', '₹699', '₹719', '₹424', '₹8,629', '₹195', '₹186', '₹2,999', '₹7,369', '₹339', '₹559', '₹899', '₹719', '₹6,739', '₹8,989', '₹237', '₹339', '₹2,499', '₹584', '₹639', '₹759', '₹759', '₹1,039', '₹8,629', '₹7,909', '₹538', '₹759', '₹2,999', '₹6,739', '₹799', '₹237', '₹236', '₹179', '₹283', '₹2,499', '₹305', '₹265', '₹559', '₹999', '₹246', '₹179', '₹599', '₹150', '₹249', '₹272', '₹199', '₹179', '₹999', '₹799', '₹179', '₹251', '₹719', '₹275', '₹289', '₹639', '₹639', '₹699', '₹584', '₹639', '₹179', '₹179', '₹299', '₹202', '₹559', '₹559', '₹1,169', '₹168', '₹8,989', '₹12,409', '₹189', '₹869', '₹799', '₹237', '₹10,159', '₹999', '₹237', '₹269', '₹1,999', '₹1,999', '₹272', '₹679', '₹699', '₹719', '₹1,999', '₹424', '₹195', '₹186']
['40% off', '44% off', '20% off', '85% off', '60% off', '86% off', '78% off', '50% off', '88% off', '86% off', '72% off', '72% off', '84% off', '86% off', '70% off', '62% off', '50% off', '75% off', '80% off', '82% off', '77% off', '50% off', '86% off', '83% off', '20% off', '87% off', '60% off', '85% off', '20% off', '65% off', '68% off', '68% off', '82% off', '87% off', '78% off', '88% off', '72% off', '72% off', '10% off', '77% off', '10% off', '50% off', '81% off', '13% off', '60% off', '85% off', '60% off', '10% off', '85% off', '82% off', '60% off', '50% off', '86% off', '15% off', '72% off', '20% off', '78% off', '10% off', '88% off', '81% off', '50% off', '10% off', '83% off', '72% off', '10% off', '20% off', '10% off', '10% off', '85% off', '77% off', '44% off', '77% off', '20% off', '15% off', '15% off', '20% off', '10% off', '10% off', '73% off', '15% off', '40% off', '10% off', '20% off', '85% off', '60% off', '86% off', '78% off', '44% off', '88% off', '86% off', '60% off', '72% off', '84% off', '86% off', '70% off', '62% off', '50% off', '75% off', '80% off', '82% off']

In [56]:
print(len(brand),len(desc),len(price),len(offer))

100 100 100 100

In [57]:
#create dataframe
df=pd.DataFrame({'Brand':brand, 'Description':desc, 'Price':price, 'Offer':offer })
df

,Brand,Description,Price,Offer
0,OAKLEY,UV Protection Round Sunglasses (53),"₹12,409",40% off
1,VINCENT CHASE,Retro Square Sunglass,₹999,44% off
2,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹189,20% off
3,Fastrack,UV Protection Aviator Sunglasses (54),₹869,85% off
4,VINCENT CHASE,"Polarized, UV Protection, Riding Glasses Wayfa...",₹799,60% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,62% off
96,ROZZETTA CRAFT,"UV Protection Wayfarer, Aviator Sunglasses (88)","₹1,999",50% off
97,OAKLEY,"Polarized, UV Protection Retro Square Sunglass...",₹424,75% off
98,SHAAH COLLECTIONS,UV Protection Rectangular Sunglasses (Free Size),₹195,80% off
99,PHENOMENAL,UV Protection Aviator Sunglasses (54),₹186,82% off

# 5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

You will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [110]:
#connect driver

driver=webdriver.Chrome(r"C:\Users\geopt\Downloads\chromedriver_win32\chromedriver.exe")

In [111]:
#open flipkart
driver.get("https://www.flipkart.com/")

In [112]:
cls=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cls.click()

In [113]:
#enter item
item = driver.find_element(By.CLASS_NAME,"_3704LK")
item.send_keys('iphone 11')

In [114]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [115]:
driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[4]/div/div/div/a").click()

In [116]:
p = driver.current_window_handle
#get first child window
chwnd = driver.window_handles
for w in chwnd:
   #switch focus to child window
   if(w!=p):
       driver.switch_to.window(w)
       break

In [117]:

driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[10]/div[7]/div/a").click()

In [121]:
#initialize variables
rating=[]
summary=[]
review=[]

In [122]:

first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()

#scrapping rating
start=0
end=10
inc=1
for page in range(start,end):
    all_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in all_tags:
        if inc <= 100:
            data=i.text
            rating.append(data)
    all_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in all_tags:
        if inc <= 100:
            data=i.text
            summary.append(data)
    all_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in all_tags:
        if inc <= 100:
            data=i.text
            review.append(data)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(3)

        
        
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()

In [123]:
print(len(rating),len(summary),len(review))

100 100 100

In [124]:
#create dataframe
df=pd.DataFrame({'Rating':rating, 'Summary':summary, 'Review':review })
df

,Rating,Summary,Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,What a camera .....just awesome ..you can feel...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
98,5,Fabulous!,This is my first iOS phone. I am very happy wi...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

# 6
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

As shown in the below image, you have to scrape the tick marked attributes.

In [231]:
#connect driver

driver=webdriver.Chrome(r"C:\Users\geopt\Downloads\chromedriver_win32\chromedriver.exe")

In [130]:
#open flipkart
driver.get("https://www.flipkart.com/")

In [131]:
cls=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cls.click()

In [132]:
#enter item
item = driver.find_element(By.CLASS_NAME,"_3704LK")
item.send_keys('sneakers')

In [134]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [148]:
#initialize variables
brand=[]
desc=[]
price=[]
offer=[]

In [149]:

first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()

#scrapping brand
start=0
end=3
inc=1
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        if inc <= 100:
            br=i.text
            brand.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

        
print(brand)
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()

#scrapping desc
start=0
end=3
inc=1
for page in range(start,end):
    desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc_tags:
        if inc <= 100:
            br=i.text
            desc.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

print(desc)
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()


#scrapping desc
start=0
end=3
inc=1
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        if inc <= 100:
            br=i.text
            price.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

print(price)
first_btn=driver.find_element(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
first_btn.click()


#scrapping price
start=0
end=3
inc=1
for page in range(start,end):
    desc_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in desc_tags:
        if inc <= 100:
            br=i.text
            offer.append(br)
            inc=inc+1
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_btn.click()
    time.sleep(5)

print(offer)

['NIKE', 'RapidBox', 'RINDAS', 'K- FOOTLANCE', 'BRUTON', 'World Wear Footwear', 'RapidBox', 'K- FOOTLANCE', 'Fox Heaven', 'World Wear Footwear', 'Roadster', 'Furo', 'BRUTON', 'Kzaara', 'AMICO', 'Airland', 'RapidBox', 'BRUTON', 'RapidBox', 'Elevarse', 'EZDEZARIO', 'Layasa', 'WHITE WALKERS', 'Deals4you', 'aadi', 'Bond Street By Red Tape', 'NIKE', 'SUSON', 'Bond Street By Red Tape', 'Magnolia', 'BRUTON', 'NIKE', "Neeman's", 'HRX by Hrithik Roshan', 'asian', 'BRUTON', 'Mast & Harbour', 'CALCADOS', 'K- FOOTLANCE', 'HOTSTYLE', 'K- FOOTLANCE', 'NIKE', 'Labbin', 'RED TAPE', 'aadi', 'asian', 'Rzisbo', 'kartic', 'BRUTON', 'BRUTON', 'BB LAA', 'PUMA', 'RED TAPE', 'Kraasa', 'URBANBOX', 'ASTEROID', 'JYOTIFED FOOTWEARS', 'Kraasa', 'BRUTON', 'Deals4you', 'Kraasa', 'ONECENTRE', 'BRUTON', 'Shozie', 'World Wear Footwear', 'SCATCHITE', 'PUMA', 'WOODLAND', 'Robbie jones', 'PUMA', 'PUMA', 'PUMA', "'Trends'", "K' Footlance", 'WHITE WALKERS', 'Magnolia', 'LIBERTY', 'PUMA', 'BRUTON', 'tigonis', 'DUNKASTON', 'NIKE', 'RINDAS', 'K- FOOTLANCE', 'BRUTON', 'World Wear Footwear', 'RapidBox', 'RapidBox', 'Fox Heaven', 'World Wear Footwear', 'K- FOOTLANCE', 'Roadster', 'BRUTON', 'Kzaara', 'AMICO', 'Airland', 'Furo', 'RapidBox', 'RapidBox', 'Elevarse']
['Sneakers For Men', 'SB CHECK Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Kenton Sneakers For Men', 'Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'SS1100 Sneakers For Men', 'Sneakers For Men', 'Lattest Sneakers Shoe Sneakers For Men', 'Sneakers For Women', 'Outdoors Casual Canvas Sneakers Gyming Walking Training...', 'Sneakers For Women', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers For Men', 'Latest Collection-1215 Stylish Casual Sports Sneakers F...', 'Sneakers Sneakers For Men', 'Sneakers For Women', 'STR2 Sneakers For Men', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Ralph Sampson Lo Sneakers For Men', "Fiona Wn's Slipon Sneakers For Women", 'Sneakers For Men', 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Sneakers For Men', 'Harrow Wns Sneakers For Women', 'Skye Clean Sneakers For Women', 'Exclusive Sneaker Shoes Sneakers For Men', 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...', 'SB Alleyoop Skate Sneakers For Men', 'Stylish & Trendy Sneakers For Men', "Perfect Stylish Casual Shoes For Girls & Women's Casual...", 'Sneakers For Men', 'Sneaker Sneakers For Men', 'Latest Collection-1216 Stylish Casual Sports Sneakers F...', 'Sneakers For Men', 'Men Blue Solid Sneakers Sneakers For Men', "Men's Fashion Trend Sneakers Sneakers For Men", 'Latest Collection Black-349 Trendy & Stylish Casual Sne...', 'Casual shoes sports shoes womens shoes sneakers Sneaker...', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '350 smart grey lace-ups casual for men Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Venture Runner Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Sneakers For Women', 'Mesh | Ultralightweight | Comfortable | Breathable Walk...', 'Sneakers For Men', 'Sneakers For Men', 'Black Gym/Walking/Running Sports Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Court Vintage Sneakers For Men', 'Sneakers For Men', 'HRX by Hrithik Roshan Men White Solid Sneakers with Per...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', 'ultra light Comfertable Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'SB CHECK Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Kenton Sneakers For Men', 'Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Outdoors Casual Canvas Sneakers Gyming Walking Training...', 'Sneakers For Women', 'Lattest Sneakers Shoe Sneakers For Men', 'Sneakers For Women', 'Sneakers For Women', 'STR2 Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Sneakers For Men', 'Latest Collection-1215 Stylish Casual Sports Sneakers F...', 'Sneakers Sneakers For Men', "Fiona Wn's Slipon Sneakers For Women"]
['₹5,528', '₹499', '₹298', '₹389', '₹299', '₹298', '₹549', '₹1,639', '₹499', '₹289', '₹497', '₹999', '₹519', '₹199', '₹409', '₹171', '₹549', '₹499', '₹549', '₹292', '₹449', '₹4,671', '₹599', '₹455', '₹299', '₹1,529', '₹449', '₹399', '₹1,529', '₹396', '₹499', '₹3,826', '₹1,499', '₹1,629', '₹520', '₹332', '₹1,352', '₹284', '₹299', '₹293', '₹389', '₹289', '₹399', '₹1,499', '₹339', '₹420', '₹387', '₹6,684', '₹299', '₹199', '₹2,239', '₹599', '₹1,499', '₹449', '₹198', '₹499', '₹4,499', '₹439', '₹299', '₹363', '₹1,099', '₹239', '₹499', '₹478', '₹298', '₹360', '₹399', '₹499', '₹6,999', '₹399', '₹1,369', '₹2,796', '₹489', '₹369', '₹599', '₹399', '₹1,679', '₹2,450', '₹439', '₹298', '₹5,528', '₹6,684', '₹298', '₹389', '₹319', '₹199', '₹499', '₹549', '₹499', '₹299', '₹497', '₹1,639', '₹499', '₹289', '₹519', '₹409', '₹999', '₹549', '₹171', '₹292']
['61% off', '55% off', '60% off', '70% off', '66% off', '47% off', '61% off', '68% off', '76% off', '66% off', '66% off', '70% off', '55% off', '80% off', '75% off', '56% off', '21% off', '76% off', '63% off', '52% off', '60% off', '80% off', '52% off', '40% off', '63% off', '75% off', '63% off', '6% off', '60% off', '20% off', '58% off', '62% off', '63% off', '50% off', '60% off', '50% off', '35% off', '78% off', '40% off', '14% off', '16% off', '70% off', '61% off', '75% off', '80% off', '50% off', '45% off', '66% off', '76% off', '50% off', '50% off', '50% off', '42% off', '60% off', '59% off', '62% off', '45% off', '65% off', '63% off', '80% off', '55% off', '45% off', '69% off', '50% off', '85% off', '55% off', '14% off', '70% off', '60% off', '60% off', '80% off', '50% off', '62% off', '86% off', '34% off', '14% off', '35% off', '70% off', '70% off', '61% off', '55% off', '60% off', '70% off', '66% off', '47% off', '61% off', '68% off', '76% off', '66% off', '40% off', '70% off', '55% off', '80% off', '75% off', '56% off', '21% off', '76% off', '63% off', '52% off', '60% off']

In [150]:
print(len(brand),len(desc),len(price),len(offer))

100 100 100 100

In [151]:
#create dataframe
df=pd.DataFrame({'Brand':brand, 'Description':desc, 'Price':price, 'Offer':offer })
df

,Brand,Description,Price,Offer
0,NIKE,Sneakers For Men,"₹5,528",61% off
1,RapidBox,SB CHECK Sneakers For Men,₹499,55% off
2,RINDAS,Sneakers For Men,₹298,60% off
3,K- FOOTLANCE,Sneakers For Men,₹389,70% off
4,BRUTON,Sneakers For Men,₹299,66% off
...,...,...,...,...
95,Airland,2 Combo Sneaker Shoes Sneakers For Men,₹409,21% off
96,Furo,Sneakers For Men,₹999,76% off
97,RapidBox,Latest Collection-1215 Stylish Casual Sports S...,₹549,63% off
98,RapidBox,Sneakers Sneakers For Men,₹171,52% off
99,Elevarse,Fiona Wn's Slipon Sneakers For Women,₹292,60% off

# 7
Q7: Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [153]:
#open myntra
driver.get("https://www.myntra.com/shoes")

In [154]:
#location filter  
location=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
location.click()

In [155]:
#location filter  
location=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
location.click()

In [184]:
#initialize variables
brand=[]
desc=[]
price=[]

In [185]:

first_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
first_btn.click()

#scrapping brand
start=0
end=2
inc1=1
inc2=1
inc3=1
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tags:
        if inc1 <= 100:
            br=i.text
            brand.append(br)
            inc1=inc1+1
    desc_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in desc_tags:
        if inc2 <= 100:
            br=i.text
            desc.append(br)
            inc2=inc2+1
    price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tags:
        if inc3 <= 100:
            br=i.text
            price.append(br)
            inc3=inc3+1
    next_btn=driver.find_element(By.XPATH,'//a[@rel="next"]')
    next_btn.click()
    time.sleep(5)

In [186]:
print(len(brand),len(desc),len(price))

100 100 100

In [187]:
#create dataframe
df=pd.DataFrame({'Brand':brand, 'Description':desc, 'Price':price })
df

,Brand,Description,Price
0,Nike,Men JORDAN LOW Basketball Shoe,Rs. 12795
1,ADIDAS Originals,Men ZX 22 BOOST Sneakers,Rs. 11999
2,Puma,Eternity Nitro Running Shoes,Rs. 11049Rs. 12999(15% OFF)
3,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 9999
4,UNDER ARMOUR,Men ChargedEscape 3 BL Running,Rs. 8999
...,...,...,...
95,TOMS,Men Slip-On Sneakers,Rs. 7499
96,Puma,Women Velocity Nitro 2 Running,Rs. 7699Rs. 10999(30% OFF)
97,ALDO,Women Solid Leather Zip Up Boots,Rs. 12999
98,ALDO,Textured Block Sandals,Rs. 7999
99,fitflop,Embellished PU Comfort Pumps,Rs. 7499

# 8
Q8: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [188]:
#open amazon
driver.get("https://www.amazon.in/")

In [193]:
#enter item
item = driver.find_element(By.ID,"twotabsearchtextbox")
item.send_keys('Laptop')

In [194]:
#submit
btn=driver.find_element(By.ID,"nav-search-submit-button")
btn.click()

In [196]:
#location cpu  
cpu=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[13]/span")
cpu.click()

In [212]:
#initialize variables
title=[]
rating=[]
price=[]

In [213]:
#scrapping title
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    br=i.text
    title.append(br)
    
#scrapping rating
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    br=i.text
    rating.append(br)

#scrapping price
company_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in company_tags[0:10]:
    br=i.text
    price.append(br)

In [214]:
print(len(title),len(rating),len(price))

10 10 10

In [215]:
#create dataframe
df=pd.DataFrame({'Title':title, 'Rating':rating, 'Price':price })
df

                                               Title Rating     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...         1,00,000
1  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...           82,490
2  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...           93,290
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           77,990
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           86,990
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           80,990
6  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           24,964
7  (Renewed) Lenovo Intel 6th Gen Core i7 12.5 In...           59,990
8  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...           82,490
9  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...           99,990

# 9

SKIP

# 10

Q10: Write a python program to scrape the salary data for Data Scientist designation.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.

You have to scrape the data ticked in the above image.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [232]:
#open ambitionbox
driver.get("https://www.ambitionbox.com/")

In [233]:
#salaries
salaries=driver.find_element(By.XPATH,"/html/body/div/div/div/footer/div[1]/div[3]/div/div[1]/ul/li[3]/a")
salaries.click()

In [250]:
#enter item
item = driver.find_element(By.ID,"jobProfileSearchbox")
item.send_keys('Data Scientist')

In [251]:
#click
click=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div")
click.click()

In [290]:
#initialize variables
company=[]
total_salary=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience=[]

In [291]:
#scrapping company
companys=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in companys[0:10]:
    br=i.text
    br1=br.split("\n")
    cmp=br1[0]
    company.append(cmp)
    total_salary_split=br1[2].split('(')
    total_salary.append(total_salary_split[1][:-1])
    experience.append(total_salary_split[0])
# print(experience)


#scrapping average_salary
datas=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in datas[0:10]:
    br=i.text
    average_salary.append(br)

# print(average_salary)

#scrapping minimum_salary
datas=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in datas[0:10]:
    br=i.text
    br1=br.split("\n")
    minimum_salary.append(br1[0])
    maximum_salary.append(br1[1])

# print(maximum_salary)

In [292]:
print(len(company), len(total_salary), len(average_salary), len(minimum_salary), len(maximum_salary), len(experience))

10 10 10 10 10 10

In [293]:
#create dataframe
df=pd.DataFrame({'company':company, 'total_salary':total_salary, 'average_salary':average_salary, 'minimum_salary':minimum_salary, 'maximum_salary':maximum_salary, 'experience':experience })
df

,company,total_salary,average_salary,minimum_salary,maximum_salary,experience
0,Walmart,based on 24 salaries,₹ 32.2L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 59 salaries,₹ 19.8L,₹ 15.0L,₹ 26.0L,2-4 yrs experience
2,Optum,based on 49 salaries,₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 35 salaries,₹ 15.9L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 118 salaries,₹ 15.5L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Sigmoid Analytics,based on 10 salaries,₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience
6,Tiger Analytics,based on 70 salaries,₹ 14.6L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
7,Legato Health Technologies,based on 11 salaries,₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
8,HSBC,based on 10 salaries,₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience
9,Tredence,based on 14 salaries,₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience